@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

[data-theme="dark"] {
  --bgcolor: #1a1a1a;
  --fontcolor: #f8f8f8;
  --linkcolor: #63B3ED;
  --visitedcolor: #9F7AEA;
}

[data-theme="light"] {
  --bgcolor: #ffffff;
  --fontcolor: #333333;
  --linkcolor: #2B6CB0;
  --visitedcolor: #6B46C1;
}