echo '---
---
@import "{{ site.theme }}";

[data-theme="dark"] {
  background-color: #1a1a1a;
  color: #f8f8f8;
}

[data-theme="light"] {
  background-color: #ffffff;
  color: #333333;
}' > assets/css/style.scss