<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <button onclick="toggleTheme()" class="theme-toggle">🌓</button>
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>
      <section>
      {{ content }}
      </section>
    </div>
    <script>
      const toggleTheme = () => {
        document.body.dataset.theme = 
          document.body.dataset.theme === 'light' ? 'dark' : 'light';
        localStorage.setItem('theme', document.body.dataset.theme);
      }
      document.addEventListener('DOMContentLoaded', () => {
        const savedTheme = localStorage.getItem('theme') || 'light';
        document.body.dataset.theme = savedTheme;
      });
    </script>
  </body>
</html>